@charset "UTF-8";

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 10px;
}

#container h1 {
    text-align: center;
    margin: 30px 0px 10px 0px;
}

#container p {
    text-align: center;
}

.formulario .card-perguntas {
    padding: 30px 20px;
    box-shadow: 0px 0px 12px 1px rgb(97, 97, 97);
    border-radius: 15px;
    max-width: 330px;
}

.card-perguntas p {
    margin-top: 10px;
}

.formulario div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 100px 0px 0px 0px;
}

.formulario div p {
    width: 320px;
    display: flex;
    gap: 15px;
    margin-left: 30px;
}

.formulario div label {
    font-weight: 800;
    margin-bottom: 10px;
}

.formulario #div-exercicios label {
    margin: 20px 0px;
}

#button a {
    color: #fff;
    background-color: #3e2b8b;
    padding: 10px;
    margin-top: 50px;
    text-align: center;
    width: 150px;
    border: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}

/* Celular Horizontal */
@media (min-width: 576px) {
    .formulario div p {
        max-width: 390px;
        margin-left: 0px;
    }

    .formulario .card-perguntas {
        max-width: 400px;
    }
}

/* Tablet Portrait */
@media (min-width: 768px) {
    .formulario div p {
        max-width: 320px;
    }

    .formulario .card-perguntas {
        max-width: 430px;
    }

    /* ---------- Inicio do footer ---------- */

    footer {
        height: 300px;
    }

    /* ---------- FIM do footer ---------- */
}

/* Tablet Landscape */
@media (min-width: 992px) {

    /* Cabeçalho */
    .logo {
        width: 240px;
        height: 240px;
    }

    .p-titulo {
        max-width: 600px;
    }

    #button a:hover {
        transform: scale(1.05);
        background-color: #625499;
    }

    /* ---------- Inicio do footer ---------- */

    footer {
        height: 240px;
    }

    #footer-itens {
        flex-direction: row;
        justify-content: space-around;
    }

    /* ---------- FIM do footer ---------- */
}

/* PCS e Notebooks */
@media (min-width: 1200px) {

    /* Cabeçalho */
    header {
        display: flex;
        justify-content: space-between;
    }

    .nav-list {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        list-style: none;
        gap: 20px;
        position: static;
        background-color: transparent;
    }

    .nav-list li:first-child {
        margin-top: 0px;
    }

    .nav-item.active a {
        border-bottom: 3px solid #3e2b8b;
        margin-right: 30px;
    }

    .btn-cadastrar {
        margin: 0px 20px 0px 50px;
    }

    #menu-icon {
        display: none;
    }

    #menu-icon img {
        width: 0px;
        margin-right: 0px;
    }

    /* Fim - Cabeçalho */

    .formulario .card-perguntas {
        padding: 40px 30px;
        max-width: 530px;
    }

    .formulario div {
        margin: 150px 0px 0px 0px;
    }

    .card-perguntas label {
        font-size: 20px;
        max-width: 100%;
    }

    .formulario div label {
        max-width: 550px;
        font-weight: 700;
    }

    .formulario div p {
        min-width: 450px;
    }

    #button a {
        margin-top: 10px;
    }

    /* ---------- Inicio do footer ---------- */

    footer {
        height: 280px;
    }

    /* ---------- FIM do footer ---------- */

}