@charset "UTF-8";

#container {
    max-width: 300px;
    margin: 70px auto;
}

#container section {
    margin: 100px 0px;
}

#container section h1 {
    margin: 20px 0px;
}

#container section p {
    font-size: 1.1em;
}

#container section .lista {
    margin: 30px 0px;
}

#container section .lista li {
    margin: 10px 0px 0px 20px;
}

.icone-lista {
    margin-left: 10px;
    font-size: 1.4em;
}

.icone-h1 {
    margin-right: 10px;
    color: #3e2b8b;
}

@media (min-width: 576px) {
    #container {
        max-width: 500px;
    }
}

@media (min-width: 768px) {
    #container {
        max-width: 600px;
    }
}

@media (min-width: 992px) {
    #container {
        max-width: 800px;
    }

    li .icone-lista i {
        transition: 0.4s ease;
    }

    li .icone-lista i:hover{
        transform: translateY(-5px);
    }
}

@media (min-width: 1200px){
    #container {
        max-width: 1000px;
    }
} 