@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    height: 120px;
    position: relative;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    z-index: 10;
}

#navbar img {
    width: 200px;
    height: 200px;
    margin-left: 30px;
}

#navbar ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav ul li {
    cursor: pointer;
}

#navbar ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
    margin-right: 60px;
    text-transform: uppercase;
    font-size: 0.9em;
    cursor: pointer;
}

#ladoDir img {
  
    position: absolute;
    right: 40px;
    top: 70px;
}

#ladoEsq {
    position: absolute;
    left: 90px;
    top: 230px;
}

#ladoEsq h1 {
    font-size: 2.5em;
}

#ladoEsq p {
    max-width: 320px;
    margin-bottom: 30px;
}

.botao {
    padding: 10px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    border-radius: 10px;
    background-color: #2cb17b;
}

#bola {
    position: absolute;
    left: -300px;
    width: 1200px;
    height: 1200px;
    border-radius: 50%;
    background-color: #2cb17c2d;
}



