@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* --------------- Desktop --------------- */

header {
    height: 120px;
    position: relative;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    width: 100%;
}

.logo {
    width: 200px;
    height: 200px;
    margin-left: 30px;
}

#navbar ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

#navbar ul li {
    margin: 0 15px;
}

#navbar ul li a {
    color: #000;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease;
    padding-bottom: 5px;
}

#navbar ul li a.active {
    border-bottom: 3px solid #3e2b8b;
} 

#navbar .menu-btn i {
    cursor: pointer;
    display: none;
}

#ladoEsq span {
    color: #3e2b8b;
}

#ladoDir img {
    position: absolute;
    right: 40px;
    top: 70px;
}

#ladoEsq {
    position: absolute;
    left: 90px;
    top: 230px;
}

#ladoEsq h1 {
    font-size: 2.5em;
}

#ladoEsq p {
    max-width: 380px;
    margin-bottom: 30px;
}

.botao {
    padding: 10px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    border-radius: 10px;
    background-color: #3e2b8b;
}

.btn-default {
    margin-right: 20px;
    background-color: #2cb17b;
}

#shape {
    position: absolute;
    left: -300px;
    width: 1200px;
    height: 1200px;
    border-radius: 50%;
    background-color: #2cb17c2d;
}

@media (max-width: 920px){
    #navbar .menu-btn i {
        display: block;
        font-size: 1.5rem;
        cursor: pointer;
        margin-right: 20px;
    }

    #navbar ul {
        position: absolute;
        top: 80px;
        left: 0px;
        background-color: #2cb17c1c;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
        z-index: 2;
    }

    #navbar ul.open {
        left: 0;
    }

    #navbar ul li {
        width: 100%;
        margin: 50px 0px;
    }

    #navbar ul li a.active {
        border-bottom: none;
        color: #000;
    } 

    #ladoDir img {
        display: none;
    }

    #ladoEsq {
        z-index: 1;
    }

    #shape {
        display: none;
    }
}